<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Asmex_Contacts>
            <version>1.0.1</version>
        </Asmex_Contacts>
    </modules>

    <global>
        <helpers>
            <contactsus>
                <class>Asmex_Contacts_Helper</class>
            </contactsus>
        </helpers>

       
    </global>

</config>