<?xml version="1.0"?>
<!--
/**
 * Magento Contact Form email extender
 *
 * This is for overriding the validation of email as well as one email limit to multiple emails
 */
-->
<config>
    <sections>
        <contacts translate="label" module="contacts">
            <groups>
                <email translate="label">
                    <fields>
                        <recipient_email translate="label">
                            <validate></validate>
                        </recipient_email>
                    </fields>
                </email>
            </groups>
        </contacts>
    </sections>
</config>